*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #222;
}

/*Centering the clock...*/
.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Style for time...*/
.clock #time {
	font-family: serif;
	font-size: 30px;
	color: #fff;
}